{{ define "main" }}
<div class="message">This is an ongoing collection of notes I've decided to keep while I continue my journey to become a better professional. I hope these documents will be useful for someone else who has decided to embark on a journey similar to mine.</div>
<hr>

<div class="post-list">
<h3>Articles</h3>
  <ul class="table-of-content">
    {{ range .Data.Pages }}
      <li>
        <a href={{ .Permalink }}>
          {{ .Title }}
        </a><span> &mdash; {{ .Date.Format "January 2, 2006" }}</span>
      </li>
    {{ end }}
  </ul>
</div>

{{ end }}