<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ .Site.Params.author }}">

  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " | default .Site.Params.keywords }}">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>